<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>loc.log.log4j</listener-class>
    </listener>
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>loc.fiter.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>loc.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>loc.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>loc.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPageController</servlet-name>
        <servlet-class>loc.controllers.ProductPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>loc.controllers.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePageController</servlet-name>
        <servlet-class>loc.controllers.CreatePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePageController</servlet-name>
        <servlet-class>loc.controllers.UpdatePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductInfoController</servlet-name>
        <servlet-class>loc.controllers.ProductInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>loc.controllers.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>loc.controllers.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>loc.controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>loc.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestLoginController</servlet-name>
        <servlet-class>loc.controllers.GuestLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>loc.controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>loc.controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderIDController</servlet-name>
        <servlet-class>loc.controllers.LoadOrderIDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>loc.controllers.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoadDataController</servlet-name>
        <servlet-class>loc.controllers.AdminLoadDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPageController</servlet-name>
        <url-pattern>/ProductPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/CreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePageController</servlet-name>
        <url-pattern>/CreatePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePageController</servlet-name>
        <url-pattern>/UpdatePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductInfoController</servlet-name>
        <url-pattern>/ProductInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/AddCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestLoginController</servlet-name>
        <url-pattern>/GuestLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderIDController</servlet-name>
        <url-pattern>/LoadOrderIDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoadDataController</servlet-name>
        <url-pattern>/AdminLoadDataController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
