<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>loc.log.log4j</listener-class>
    </listener>
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>loc.filter.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>loc.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>loc.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListController</servlet-name>
        <servlet-class>loc.controllers.GetListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>loc.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>loc.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelRoomController</servlet-name>
        <servlet-class>loc.controllers.HotelRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>loc.controllers.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>loc.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>loc.controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CouponController</servlet-name>
        <servlet-class>loc.controllers.CouponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>loc.controllers.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>loc.controllers.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateController</servlet-name>
        <servlet-class>loc.controllers.ValidateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>loc.controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCouponController</servlet-name>
        <servlet-class>loc.controllers.CreateCouponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCouponController</servlet-name>
        <servlet-class>loc.controllers.ChangeCouponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>loc.controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHistoryController</servlet-name>
        <servlet-class>loc.controllers.LoadHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailController</servlet-name>
        <servlet-class>loc.controllers.HistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHistoryController</servlet-name>
        <servlet-class>loc.controllers.DeleteHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackController</servlet-name>
        <servlet-class>loc.controllers.FeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutMailController</servlet-name>
        <servlet-class>loc.controllers.CheckoutMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutValidateController</servlet-name>
        <servlet-class>loc.controllers.CheckoutValidateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackInfoController</servlet-name>
        <servlet-class>loc.controllers.FeedBackInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>loc.controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListController</servlet-name>
        <url-pattern>/GetListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelRoomController</servlet-name>
        <url-pattern>/HotelRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/AddCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CouponController</servlet-name>
        <url-pattern>/CouponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/SendMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateController</servlet-name>
        <url-pattern>/ValidateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCouponController</servlet-name>
        <url-pattern>/CreateCouponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCouponController</servlet-name>
        <url-pattern>/ChangeCouponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHistoryController</servlet-name>
        <url-pattern>/LoadHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailController</servlet-name>
        <url-pattern>/HistoryDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHistoryController</servlet-name>
        <url-pattern>/DeleteHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackController</servlet-name>
        <url-pattern>/FeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutMailController</servlet-name>
        <url-pattern>/CheckoutMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutValidateController</servlet-name>
        <url-pattern>/CheckoutValidateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackInfoController</servlet-name>
        <url-pattern>/FeedBackInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
